**~
*.bin
EnigmaIoTUpdate/.idea/
EnigmaIoTUpdate/venv/
DS18B20/
*.txt
examples/enigmaiot_sensor/enigmaiot_sensor.ino.rej
Libraries/
.pio
.vscode
**/config.json
*.json
.vs/
*.sln
*.vcxproj
*.filters
*.user
**/__vm/
**/Debug/
**/Release/
include/
lib/
test/
Makefile
examples/enigmaiot_node_configurer/enigmaiot_node_configurer.cpp